body {
    overflow-x : hidden;
    background : #FFF; 
    color : #000;
    text-align : center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size : 19px;
}




/*  ##########################  */
/*  REUSABLE STYLE CLASSES    */

    /* DROP SHADOW */
    .dropShadow {
        -webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.68);
        -moz-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.68);
        box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.68);
    }
    
    .dropShadow_sml {
        -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.68);
        -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.68);
        box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.68);
    }



/*#######################*/
/*  BOOTSTRAP SCAFOLDING */

    /*TOP NAVIGATION --> go to other pages.. */ 
        .topNavigation {    
            position: absolute;
            background : #444;
            
            z-index : 999;
            left : 0px;
            top : 0px;
            width : 100%;
            height : 32px;
            position: fixed;
        }

    /* Main Scrolling Body Content */
        .mainContent {
            position: absolute;
            top: 33px;
            width : 100%;
            overflow-x : hidden;
            overflow-y: auto;
            padding-bottom : 42px;
        }

    /* APP TITLE  */
        .myTitle_bootstrapComponent {
            opacity : 3;  
            color : #478;
            font-size : 36px;
            background: #FFF;
            font-family: 'Arvo';
            padding: 15px;
        }



/* HEADER IMAGES  */
    .header_ImgList_img_container{
        padding : 4px;
        background: #FFF;

    }

    .header_ImgList_Img {
        width : 100%;
        height : auto;
        background: #FFF;
        
    }

.h1{
    background: #D65A4A;
    width: 100%;
    font-size: 25px;
}



/* Pages Content */
    /* Main  content for all Body Shit */
    .ruvoPage_content_container{
        color : #123;
    }

    /* THIS PAGE TITLE */
    .ruvo_page_title {
        font-family: 'Arvo';
        font-size : 22px;
        padding: 5px;
        background-color: #456;
    }

    .ruvo_navi_button{ 
    font-size: 20px;
    color: #456; 
    }
    .ruvoPage_content_container{
        background : #FFF;
        color : #121;
    }
    /*  PAGE CONTENT VERBIAGE */
        .pageContentParagraph {
            padding-top : 8px;
            text-indent : 25px;
            text-align : left;
        }

        .pageContentHeading{
            font-style: italic;
        }
        .pageContent_TextFooter {
            padding-top : 8px;
        }


    /* PAGE CONTENT IMAGES  */
        .pageContent_RightSideImages{
            background: #FFF;
            padding : 0px;
            padding-bottom : 8px;
        }

        /* Page Content Right Side images */
        .pageContent_RightSideImage_container {
            margin-top : 25px;
        }
        .pageContent_RightSideImage_container img{
            width : 100%;
            height : auto;
            color:; 
        }



    /*#@#################*/
    /* APP FOOTER*/
        .SweetFooter {
            position : absolute;

            bottom : 0px;
            width : 100%;
        }

        .FooterCenterCall2Action {
            font-size : 18px;
        }

        /* Bottom Right Footer Text */
        .Footer_BottomRight {
            text-align: right;
            padding-top : 5px;
            padding-right : 5px;
            font-size : 15px;
        }
        /* SOCIAL NETWORK LINKS  */
        .socialNetworkLink img {
            height : 32px;
            background-color: #FFF;
        }

.contactForm_Heading {
    font-size: 25px;
    background: #D65A4A;

}

.contactForm_Container {
    font-size: 25px;
    background: #;

}

.servicesPage_Content_Right_Side_Row {
  background: #D65A4A;  
  padding: 1px;

}
/*         END OF BOOTSTRAP SCAFOLDING CSS */
/*  */


